<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>Language Finder Web Application</display-name>
    <servlet>
        <servlet-name>languageFinder</servlet-name>
        <servlet-class>au.com.lf.controller.FindLanguageController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>languageFinder</servlet-name>
        <url-pattern>/find</url-pattern>
    </servlet-mapping>

</web-app>